
/* 选择国家/地区 */
.center_2{
    width: 355px;
    height: 60px;
    margin: 35px 0px 20px;
    background-color: #ddd;
    border-radius: 5px;
}
.center_2 span{
    margin: 15px;
    line-height: 30px;
}
.center_2 select{
    width: 345px;
    height: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
}

.center_3{
    width: 355px;
    height: 60px;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: #ddd;
}
.center_3 span{
    line-height: 30px;
    margin: 15px;
}
.center_3 .center_3_a{
    width: 100px;
    height: 60px;
    float: left;
}
.center_3 .center_3_b{
    float: left;
}
.center_3 .center_3_b input{
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    font-size: 17px;
}
/* 获取验证码 */
.center_4{
    width: 355px;
    height: 60px;
    margin: 20px 0px;
    border-radius: 5px;
    background-color: #ddd;
}
.center_4 .center_4_a{
    float: left;
}
.center_4 .center_4_a input{
    width: 255px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    font-size: 17px;
}
.center_4 .center_4_b{
    width: 100px;
    height: 60px;
    float: left;
}
.center_4 .center_4_b a{
    color: black;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
}
/* 用户协议 */
.center_5{
    width: 355px;
    height: 25px;
    padding: 0px 0px 20px;
}
.center_5 .hui{
    color: #838383;
}
/* 登录按钮 */
.center_6{
    width: 355px;
    height: 60px;
    margin: 0px 0px 10px;
}
.center_6 input{
    width: 355px;
    height: 60px;
    border-radius: 5px;
    background-color: lightsalmon;
    font-size: 18px;
    border: 1px solid lightsalmon;
    color: white;
}
/* 收不到验证码 */
.center_7{
    width: 355px;
    height: 40px;
    margin: 20px 0px;
}
.center_7 a{
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ff5c00;
    font-size: 20px;
}